.derp {
  max-width: 100%;
}
.derp:hover {
  animation: shake 0.2s infinite ease-in-out;
}
@keyframes shake {
  25%  {
    transform: translate(min(10%,10px),0%);
  }
  75%  {
    transform: translate(max(-10%,-10px),0);
  }
  to  {
    transform: translate(0,0);
  }
}
